@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;800&family=Markazi+Text:wght@400;500&display=swap');

h1, h2 {
  font-family: "Markazi Text", serif;
}

h1 {
  font-size: 80pt;
}
h2{
  font-size: 40pt;
}
p {
  font-family:"Karla", sans-serif;
  font-size: 16pt;
}
img {
  border-radius: 20px;
}
li, .btn{
  cursor: pointer;
}




/* menu */
.menu, .ll{
  text-align: center;
  color:#FA9F42;
}

.menu-container {
  max-width: 15000px;
  display: flex;
  justify-content: center;
  background-color:#dff2ee;
}


/* Add rules for the steps mentioned below */

.section {
  padding: 40px;
}

.label {
  font-weight: bold;
}

.description {
  font-style: italic;
  border-top: 2px solid #39544b;
}

.item-name {
  margin: 25px;
  font-size: 18px;
}

b {
  float: right;
  margin-top: -15px;
  color: darkcyan;
}

div > h3 {
  font-size: 40px;
  margin: 20px;
  text-align: center;
  color: #070807;
}

.label + .low {
  color: brown;
}

div ~ div {
  color: rgb(90, 90, 90);
}